*,
*::before,
*::after {
  margin: 0;
  padding: 0%;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 40%; } }

.container {
  background-image: linear-gradient(rgba(47, 47, 48, 0.7), rgba(47, 47, 48, 0.7)), url("../img/bg_2.jpg");
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto calc(100vh - 10rem); }

.btn {
  border: none;
  border-radius: 5px;
  background-color: #810000;
  font-size: 1.7rem;
  color: #ffffff;
  padding: 1rem;
  cursor: pointer;
  transition: all .2s;
  animation: moveInBottom2 .3s ease-out 1s;
  animation-fill-mode: backwards; }

.btn:hover {
  transform: translateY(-3px) scale(1.1); }

.card {
  font-family: "Cabin Sketch", cursive;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 45rem; }
  .card__side {
    height: 45rem;
    transition: all .8s ease;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    background-color: orangered; }
    .card__side--front-1 {
      background-image: linear-gradient(#9ff5f5, white); }
    .card__side--front-2 {
      background-image: linear-gradient(#f8ee8e, white); }
    .card__side--front-3 {
      background-image: linear-gradient(#a1f795, white); }
    .card__side--back-1 {
      transform: rotateY(180deg);
      background-image: linear-gradient(#9ff5f5, white);
      text-align: center; }
    .card__side--back-2 {
      transform: rotateY(180deg);
      background-image: linear-gradient(#f8ee8e, white);
      text-align: center; }
    .card__side--back-3 {
      transform: rotateY(180deg);
      background-image: linear-gradient(#a1f795, white);
      text-align: center; }
  .card:hover .card__side--front-1 {
    transform: rotateY(-180deg); }
  .card:hover .card__side--front-2 {
    transform: rotateY(-180deg); }
  .card:hover .card__side--front-3 {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back-1,
  .card:hover .card__side--back-2,
  .card:hover .card__side--back-3 {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 17rem;
    background-blend-mode: screen;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: url(../img/card3.jpg); }
    .card__picture--2 {
      background-image: url(../img/gold-pass.jpg); }
    .card__picture--3 {
      background-image: url(../img/std-pass.jpg); }
  .card__heading {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: white;
    font-size: 4rem;
    text-align: center; }
  .card__details {
    padding: .3rem 3rem;
    color: #6b6b6b; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:first-child {
          font-size: 2.5rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid black; }
  .card__back--container {
    margin-top: 35%;
    font-size: 4rem;
    color: #6b6b6b; }
    .card__back--container span {
      display: block; }
  .card__bigger {
    font-size: 15rem; }
  .card__back--opt2 {
    color: #6b6b6b; }

.form {
  font-family: "Belanosima", sans-serif; }
  .form__group {
    font-family: "Belanosima", sans-serif; }
  .form__label {
    font-family: "Belanosima", sans-serif;
    display: block;
    font-size: 2.7rem;
    margin-left: .7rem;
    transition: all .3s; }
  .form__input {
    display: block;
    font-family: inherit;
    font-size: 2.2rem;
    width: 35rem;
    padding: .5rem .7rem;
    border-radius: 2px;
    border: none;
    border-bottom: 3px solid transparent;
    transition: all .3s; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #16154e; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #810000; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .form__radio-group {
    display: inline-block;
    margin-left: .5rem; }
  .form__radio-input {
    display: none; }
  .form__radio-label {
    font-size: "Belanosima", sans-serif;
    font-size: 1.7rem;
    cursor: pointer;
    position: relative;
    padding-left: 4rem; }
  .form__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid #16154e;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -.4rem; }
    .form__radio-button::after {
      content: "";
      display: block;
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #16154e;
      opacity: 0;
      transition: opacity .2s; }
  .form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
    opacity: 1; }
  .form__date {
    display: inline-block; }
  .form__time {
    display: inline-block;
    font-size: 1.3rem; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom1 {
  0% {
    opacity: 0;
    transform: translatey(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom2 {
  0% {
    opacity: 0;
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.navbar {
  font-style: "Abril Fatface", cursive;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .navbar__name {
    font-family: inherit;
    font-size: 3rem;
    color: #ffffff;
    padding: 2rem; }
  @media only screen and (max-width: 50em) {
    .navbar__menu {
      display: none; } }
  .navbar__menu-items {
    font-family: inherit;
    height: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, max-content);
    grid-column-gap: 5.3rem;
    align-items: center;
    padding: 1rem; }
  .navbar__menu-link:link, .navbar__menu-link:visited {
    font-weight: 400;
    color: #ffffff;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    transition: transform ease .2s; }
  .navbar__menu-link:hover, .navbar__menu-link:active {
    transform: translateY(-3px) scale(1.2); }
  .navbar__menu-item {
    align-self: min-content; }

.active {
  color: #810000 !important;
  font-size: 2rem !important; }

.nav-btn {
  display: none;
  border: none;
  border-radius: 0;
  background-color: #ffffff;
  height: 2px;
  width: 4.5rem;
  margin-top: 3rem;
  margin-right: 3rem;
  justify-self: end; }
  @media only screen and (max-width: 50em) {
    .nav-btn {
      display: inline-block; } }
  .nav-btn::before, .nav-btn::after {
    background-color: #ffffff;
    height: 2px;
    width: 4.5rem;
    content: "";
    display: block; }
  .nav-btn::before {
    transform: translateY(-1.5rem); }
  .nav-btn::after {
    transform: translateY(1.3rem); }

.header {
  font-family: 'Anton', sans-serif;
  font-weight: 300;
  align-self: center;
  justify-self: center; }
  .header__text {
    text-transform: uppercase;
    color: #ffffff; }
    .header__text-1 {
      color: #810000;
      font-size: 2.5rem;
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out; }
    .header__text-2 {
      font-size: 6rem;
      animation-name: moveInBottom1;
      animation-duration: 1s;
      animation-timing-function: ease-out; }

.price {
  align-self: center;
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(3, 27rem);
  grid-column-gap: 11rem;
  height: 35rem;
  font-size: 10rem;
  color: #ffffff; }

.aboutus {
  font-family: "Belanosima", sans-serif;
  align-self: center;
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(3, 27rem);
  grid-column-gap: 11rem;
  grid-row-gap: 4rem;
  align-items: start; }
  .aboutus__text {
    font-family: inherit;
    grid-column: 1/-1;
    align-self: start;
    justify-self: center;
    font-size: 3rem;
    color: white;
    margin: auto;
    text-transform: uppercase;
    padding: 2rem; }
  .aboutus__contact {
    justify-self: center;
    text-align: center; }
    .aboutus__contact span,
    .aboutus__contact button {
      display: block;
      margin: 2rem auto; }
    .aboutus__contact span {
      color: white;
      font-size: 1.5rem; }
  .aboutus__address {
    justify-self: center;
    text-align: center; }
    .aboutus__address span,
    .aboutus__address button {
      display: block;
      margin: 2rem auto; }
    .aboutus__address span {
      color: white;
      font-size: 1.5rem; }
  .aboutus__hours {
    justify-self: center;
    text-align: center; }
    .aboutus__hours span {
      display: block;
      margin: 2rem auto;
      color: white;
      font-size: 1.5rem; }

.join {
  height: auto;
  width: 80rem;
  margin: auto;
  border-radius: 10px;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0) 80%, transparent 50%), url(../img/wp1.jpg);
  background-size: 100%; }
  .join__container {
    padding: 2rem 5rem;
    display: flex; }
  .join__heading-2 {
    font-family: "Belanosima", sans-serif;
    font-size: 2.7rem;
    margin-left: .7rem;
    margin-bottom: .5rem; }
  .join__motivation {
    font-family: "Belanosima", sans-serif;
    font-size: 4rem;
    color: #810000;
    margin: auto;
    text-transform: uppercase;
    padding: 2rem;
    text-align: center; }
    .join__motivation span {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 5rem; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.heading1 {
  font-family: "Belanosima", sans-serif;
  color: #ffffff;
  font-size: 3rem; }
