//VARIABLES 
$color-primary: #ffffff;
$color-secondary: rgb(129, 0, 0);
$color-thertiary: rgb(107, 107, 107);
$color-fourth: rgb(22, 21, 78);

$color-kids: rgb(159, 245, 245);
$color-gold: rgb(248, 238, 142);
$color-std: rgb(161, 247, 149);

//FONT VARIABLES
$font-primary: 'Belanosima', sans-serif;
$font-secondary: 'Josefin Sans', sans-serif;
$font-navbar: 'Abril Fatface', cursive;
$font-cards: 'Cabin Sketch', cursive;

//MEDIA QUERIES 
$bp-largest: 62.5em; //1000px
$bp-large: 50em; //800px

*,
*::before,
*::after {
    margin: 0;
    padding: 0%;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1 rem =10 px

    @media only screen and (max-width: $bp-largest) {
        font-size: 40%;
    }
}

.container {
    background-image: linear-gradient(rgba(47, 47, 48, .7), rgba(47, 47, 48, .7)), url('../img/bg_2.jpg');
    background-size: cover;

    display: grid;
    grid-template-columns: 1fr;
    // grid-template-rows: auto calc(100vh - 10rem);
    grid-template-rows: auto minmax(calc(100vh - 10rem), auto);
}