.btn {
    border: none;
    border-radius: 5px;

    background-color: $color-secondary;
    font-size: 1.7rem;
    color: $color-primary;
    padding: 1rem;

    cursor: pointer;

    transition: all .2s;

    animation: moveInBottom2 .3s ease-out 1s;
    animation-fill-mode: backwards;
}

.btn:hover {
    transform: translateY(-3px) scale(1.1);
}

.card {
    font-family: $font-cards;
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 45rem;
    // width: 25rem;

    &__1 {
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }

    &__2 {
        animation-name: moveInBottom1;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }

    &__3 {
        animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }

    @media only screen and (max-width: $bp-medium) {
        margin-bottom: 3rem;
    }

    &__side {
        height: 45rem;
        transition: all .8s ease;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;

        background-color: orangered;

        &--front {
            &-1{
                background-image: linear-gradient($color-kids, white);
            }

            &-2{
                background-image: linear-gradient($color-gold, white);
            }

            &-3{
                background-image: linear-gradient($color-std, white);
            }
        }

        &--back {
            // transform: rotateY(180deg);
            // background-color: olivedrab;
            &-1{
                transform: rotateY(180deg);
                background-image: linear-gradient($color-kids, white);
                text-align: center;
            }
            &-2{
                transform: rotateY(180deg);
                background-image: linear-gradient($color-gold, white);
                text-align: center;
            }
            &-3{
                transform: rotateY(180deg);
                background-image: linear-gradient($color-std, white);
                text-align: center;
            }
        }
    }

    &:hover &__side--front {
        &-1{
            transform: rotateY(-180deg);
        }

        &-2{
            transform: rotateY(-180deg);
        }

        &-3{
            transform: rotateY(-180deg);
        }
    }

    &:hover &__side--back-1,
    &:hover &__side--back-2,
    &:hover &__side--back-3 {
        transform: rotateY(0);
    }

    &__picture {
        background-size: cover;
        height: 17rem;
        background-blend-mode: screen;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        &--1 {
            background-image: url(../img/card3.jpg);
        }

        &--2 {
            background-image: url(../img/gold-pass.jpg);
        }

        &--3 {
            background-image: url(../img/std-pass.jpg);
        }
    }
    

    &__heading {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
        color: white;
        font-size: 4rem;
        text-align: center;
    }

    &__details {
        padding: .3rem 3rem;
        color: $color-thertiary;

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;
                
                &:first-child {
                    font-size: 2.5rem;
                }

                &:not(:last-child) {
                    border-bottom: 1px solid black;
                }
            }
        }
    }

    &__back--container{
        margin-top: 35%;
        font-size: 4rem;
        color: $color-thertiary;
    
        span{
            display: block;
        }
    }

    &__bigger {
        font-size: 15rem;
    }

    &__back--opt2{
        color: $color-thertiary;
    }
}

.form {
    font-family: $font-primary;

    &__group{
        font-family: $font-primary;
    }

    // &__group:not(:last-child) {
    //     margin-bottom: 1rem;
    // }

    &__label {
        font-family: $font-primary;
        display: block;
        font-size: 2.7rem;
        margin-left: .7rem;
        transition: all .3s;

    }

    &__input {
        display: block;
        font-family: inherit;
        font-size: 2.2rem;
        width: 35rem;
        padding: .5rem .7rem;
        border-radius: 2px;
        border: none;
        border-bottom: 3px solid transparent;
        transition: all .3s;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba(black, .1);
            border-bottom: 3px solid $color-fourth;
        }

        &:focus:invalid {
            border-bottom: 3px solid $color-secondary;
        }
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__radio-group {
        //width: 32%;
        display: inline-block;
        margin-left: .5rem;
    }

    &__radio-input {
        display: none;
    }

    &__radio-label {
        font-size: $font-primary;
        font-size: 1.7rem;
        cursor: pointer;
        position: relative;
        padding-left: 4rem;
    }

    &__radio-button {
        height: 3rem;
        width: 3rem;
        border: 5px solid $color-fourth;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -.4rem;

        &::after {
            content: "";
            display: block;
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-fourth;
            opacity: 0;
            transition: opacity .2s;
        }
    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
    }

    &__date{
        display: inline-block;
    }

    &__time{
        display: inline-block;
        font-size:1.3rem;
    }
}
