.navbar {
    font-style: $font-navbar;
    display: grid;

    grid-template-columns: repeat(2, 1fr);

    &__name {
        font-family: inherit;
        font-size: 3rem;
        color: $color-primary;
        padding: 2rem;
    }

    &__menu {

        @media only screen and (max-width: $bp-large) {
            display: none;
        }

        &-items {
            font-family: inherit;
            height: 100%;
            list-style: none;
            display: grid;
            grid-template-columns: repeat(5, max-content);
            grid-column-gap: 5.3rem;
            align-items: center;
            padding: 1rem;
        }

        &-link:link,
        &-link:visited {
            font-weight: 400;
            color: $color-primary;
            font-size: 1.5rem;
            text-decoration: none;
            text-transform: uppercase;
            display: block;
        }

        &-link:hover,
        &-link:active {
            transform: translateY(-3px) scale(1.2);
        }

        &-item {
            align-self: min-content;
        }
    }
}

.active {
    color: $color-secondary !important;
    font-size: 2rem !important;
}

.nav-btn {
    display: none;

    border: none;
    border-radius: 0;

    background-color: $color-primary;
    height: 2px;
    width: 4.5rem;
    margin-top: 3rem;
    margin-right: 3rem;
    justify-self: end;

    @media only screen and (max-width: $bp-large) {
        display: inline-block;
    }

    &::before,
    &::after {
        background-color: $color-primary;
        height: 2px;
        width: 4.5rem;
        content: "";
        display: block;
    }

    &::before { transform: translateY(-1.5rem); }
    &::after { transform: translateY(1.3rem); }
}