.navbar {
    font-style: $font-navbar;
    display: grid;

    grid-template-columns: repeat(2, 1fr);

    &__name {
        font-family: inherit;
        font-size: 3rem;
        color: $color-primary;
        padding: 2rem;
    }

    &__menu {

        @media only screen and (max-width: $bp-large) {
            display: none;
        }

        &-items {
            font-family: inherit;
            height: 100%;
            list-style: none;
            display: grid;
            grid-template-columns: repeat(5, max-content);
            grid-column-gap: 5.3rem;
            align-items: center;
            padding: 1rem;
        }

        &-link:link,
        &-link:visited {
            font-weight: 400;
            color: $color-primary;
            font-size: 1.5rem;
            text-decoration: none;
            text-transform: uppercase;
            display: block;
            transition: transform ease .2s;
        }

        &-link:hover,
        &-link:active {
            transform: translateY(-3px) scale(1.2);
        }

        &-item {
            align-self: min-content;
        }
    }

    &__icon {
        display: none;

        @media only screen and (max-width: $bp-large) {
            display: inline-block;
        }
    }

    &__checkbox {
        display: none;
    }

    &__background {
        height: 6rem;
        width: 6rem;
        background-color: $color-thertiary;
        border-radius: 50%;
        position: fixed;
        top: 1rem;
        right: 2.7rem;
        z-index: 1000;
        // opacity: 0.9;

        transition: transform 0.8s ease-out;
        // transform: scale(50);
    }

    &__label {
        height: 6rem;
        width: 6rem;
        position: fixed;
        top: 1rem;
        right: 2.7rem;
        z-index: 2000;

        display: grid;
        align-items: center;
        justify-content: center;
        font-size: 1.8rem;
        color: white;
    }

    &__nav {
        height: 100vh;
        // width: 100vw;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1500;

        opacity: 0;
        width: 0;

        transition: all 0.8s ease-out;
    }

    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        list-style: none;
        text-align: center;
    }

    &__item {
        margin: 4rem 0;
        font-size: 20rem;
    }

    &__checkbox:checked ~ &__background {
        transform: scale(50);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100vw;
    }
}

.active {
    color: $color-secondary !important;
    font-size: 2rem !important;
}

.nav-btn {
    // display: none;

    border: none;
    border-radius: 0;
    z-index: 1700;

    background-color: $color-primary;
    height: 2px;
    width: 4.5rem;
    margin-top: 3rem;
    margin-right: 3rem;
    justify-self: end;

    // @media only screen and (max-width: $bp-large) {
    //     display: inline-block;
    // }

    &::before,
    &::after {
        background-color: $color-primary;
        height: 2px;
        width: 4.5rem;
        content: "";
        display: block;
    }

    &::before { transform: translateY(-1.5rem); }
    &::after { transform: translateY(1.3rem); }
}