.price {
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(3, 27rem);
    grid-column-gap: 11rem;
    height: 35rem;

    font-size: 10rem;
    color: $color-primary;
}